


/*général*/
body {
    font-family: 'Palatino Linotype';
}
* {
    margin: 0;
    padding: 0;
    font-style:normal;
}

article {
    width: 460px;
    height: 140px;
    word-wrap: break-word;
    font-size: 1.3em;
    margin-bottom:50px;   
}
ul li {
    font-size: 1.4em;
}
#container {
    width: 1188px;
    display: flex;
    border: 1px solid #616161;
    margin:auto;
}
i {
    color: #00BCD4;
}
/*coté droit*/
.ligne {
    border: solid 1px #00BCD4;
    display: block;
    width: 12%;
}
.fa-graduation-cap {
    margin-right: 25px;
}
.fa-briefcase {
    margin-right: 25px;
}
.fa-pencil {
    margin-right: 25px;
}
.fas {
    margin-right: 12px;
}
.divider {
    width: 740px;
    height: 1px;
    background: #00BCD4;
    margin-top: 1px;
}
#right {
    width: 70%;
    padding: 40px 0 10px 40px;
}
#right header h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 5em;
    margin: 50px 0 190px 0;
    line-height: 40px;
}
#right h2 {
        font-size: 2.3em;
        padding-bottom: 5px;
        text-transform: uppercase;

}
.now {
    font-size: 0.4em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    
}
.fan {
    display: flex;
    justify-content:space-between;
    margin: 25px 10px 80px 0;
}
#experience p:first-child {
    font-size:1.2em;
}
#formation .box i {
    margin-right: 13px;
}
.fanta {
    display: flex;
    justify-content: space-around;
    padding-top:20px;
    padding-bottom:20px;
}
.fanta ul li {
        padding-bottom: 5px;
}
h4 {
    font-size: 1em;
    line-height: 10px;
    margin: 15px 0 15px 0;
}
#right h3 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.4em;
}
.end {
    display: block;
    padding-left: 28px;
    line-height: 6px; 
}
/*coté gauche*/
#left {
    width: 30%;
    background-color: #00BCD4;
}
ul {
    list-style-type: none;
}
#left h2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #424242;
    color: #00BCD4;
    height: 40px;
    padding-top: 5px;
    text-justify: auto;
}
#photo {
    text-align: center;
    height: 350px;   
}
img {
    width: 60%;
    height: 65%;
    border-radius: 50%;
    border: black 2px solid;
    filter: grayscale(100%);
    border: 3px #FBC203 solid;
    transition: 2s;
    margin-top: 60px;
}
img:hover {
        filter: grayscale(0%);
}
.blue {
    color: #00BCD4;
}
#contact {
    height: 480px;
}
#contact ul {
        margin-left: 30px;
        margin-top: 20px;
}
#contact ul li {
        padding-bottom: 20px;
        text-justify: auto;
}
#about {
    height: 1140px;
    
}
#about P {
        width: 300px;
        font-size:1.2em;
        padding: 40px 30px 10px 30px;
        letter-spacing: 1px;
        text-align: justify;
}
#hobit {
    height: 150px;
}
#hobit ul {
      
        display: flex;
        justify-content: space-evenly;   
}
#hobit ul li {
            text-align: center;
            vertical-align: central;
            font-size:20px;
            line-height:150px;         
}
#hobit ul li i {
        color: #616161;
        border: #5c5252 2px solid;
        border-radius: 50%;
        padding: 11px 15px;
        flex: 1;
        margin: 0px 5px;
}
/*Media queries*/
/*Tablettes*/
@media(max-width:800px) {
    body{
        display:block;
       
    }
    img {
        width: 60%;
        height: 85%;
        margin-top: 26px;
    }
    #container {
        flex-direction: column-reverse;
        max-width:450px;
        padding: 10px;
        margin:0 auto;    
    }
    article {
        width:430px;
        text-align: justify;
        padding-bottom:50px;
    }
    #right {
        
        padding:10px;
        width:100%;
    }
    #right header h1  {
            font-size:3em;
    }
    .now {
        font-size: 0.6em;
    }
    #right h2 {
            font-size: 1.5em;
            width: 450px;
            margin-top: 25px;
    }
    #right h3 {
            font-size: 1.2em;
            margin-top: 20px;
    }
    #right h4 {
            font-size: 1.1em;
    }
    #left {
        box-shadow: 5px 5px 5px #424242;
        width: 100%;
    }
    .divider {
        width: auto;
    }
    .box {
        flex-direction: column;
        font-size: 1.3em;
    }
    .fan {
       display:block;
        justify-content:center;
    }
    .fanta {
        display:block;
    }
    .fanta ul:first-child{
        margin-bottom:15px;
    }
    #about p {
        padding-top: 50px;
        width: auto;
    }
    #about {
        height: 760px;
    }
    #hobit ul li {
       
       line-height:120px; 
    }
    .fa-graduation-cap {
        margin-right: 2px;
    }

    .fa-briefcase {
        margin-right: 2px;
    }

    .fa-pencil {
        margin-right: 2px;
    }
}
/*petits écran*/
@media(max-width:425px){
    #container{
        
       margin:0 auto;
       padding:10px;
    }
    #right {
        
        margin: 10px;  
    }
    #right header h1{
        font-size:2em;
        margin-bottom:80px;
    }
    .divider{
       width:95%;
    }
    article{
     width:92%;
     font-size:1.4em;
     padding-bottom:100px;
    }
    img {  
        
        margin-top: 28px;
    }
    ul li{
        font-size:1.3em;
    }
    #contact{
        height:480px;
    }
    #contact ul {
            font-size: 1.1em;
    }
    #about {
        height: 710px;
    }
    #about p{
        font-size:1.4em;
        word-wrap:break-word;
        padding-top:10px;
    }
}       

    


