
/* Definition des polices personnalisees */
@font-face {
    font-family: 'aileronregular';
    src: url('font/Aileron-Regular-webfont.eot');
    src: url('font/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/Aileron-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*general*/
body {
    font-family: 'aileronregular';
}
* {
    margin: 0;
    padding: 0;
}

article {
    width: 460px;
    height: 140px;
    word-wrap: break-word;
    font-size: 1.3em;
    margin-bottom:50px;
    
    
    
}
ul li {
    font-size: 1.4em;
}


#container {
    width: 1188px;
    display: flex;
    border: 1px solid #616161;
    margin:auto;
}

i {
    color: #00BCD4;
}


/*cote droit*/
.ligne {
    border: solid 1px #00BCD4;
    display: block;
    width: 13%;
}

.fa-graduation-cap {
    margin-right: 25px;
}

.fa-briefcase {
    margin-right: 25px;
}

.fa-pencil {
    margin-right: 25px;
}

.fas {
    margin-right: 12px;
}


.divider {
    width: 740px;
    height: 1px;
    background: #00BCD4;
    margin-top: 1px;
}
#right {
    width: 70%;
    padding: 40px 0 10px 40px;
}

#right header h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 5em;
    margin: 50px 0 190px 0;
    line-height: 40px;
}

 #right h2 {
        font-size: 2.3em;
        padding-bottom: 5px;
        text-transform: uppercase;

 }
.now {
    font-size: 0.4em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
}
.fan {
    display: flex;
    justify-content:space-between;
    margin: 25px 10px 40px 0;
}

#experience p:first-child {
    font-size:1.2em;
}

#formation .box i {
    margin-right: 13px;
}
.fanta {
    display: flex;
    justify-content: space-around;
    padding-top:20px;
}
.fanta ul li {
        padding-bottom: 5px;
}

h4 {
    font-size: 1em;
    line-height: 10px;
    margin: 15px 0 15px 0;
}

#right h3 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1.4em;
}

.end {
    display: block;
    padding-left: 28px;
    line-height: 6px;
  
}
/*coté gauche*/
#left {
    width: 30%;
    background-color: #00BCD4;
}
ul {
    list-style-type: none;

}
#left h2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #424242;
    color: #00BCD4;
    height: 40px;
    padding-top: 5px;
    text-justify: auto;
}
#photo {
    text-align: center;
    height: 350px;
    
}

img {
    width:60%;
    height:65%;
    border-radius: 50%;
    border: black 2px solid;
    filter: grayscale(100%);
    border: 3px blue solid;
    transition: 2s;
    margin-top:60px;
}
img:hover {
        filter: grayscale(0%);
}

.blue {
    color: #00BCD4;
}

#contact {
    height: 430px;
}
#contact ul {
        margin-left: 30px;
        margin-top: 20px;
}

#contact ul li {
        padding-bottom: 20px;
        text-justify: auto;
}

#about {
    height: 980px;
    
}
#about P {
        width: 300px;
        font-size:1.2em;
        padding: 40px 30px 10px 30px;
        letter-spacing: 1px;
        text-align: justify;

}

#hobit {
    height: 150px;
}

#hobit ul {
      
        display: flex;
        justify-content: space-evenly;   
    }
 #hobit ul li {
            text-align: center;
            vertical-align: central;
            font-size:20px;
            line-height:150px;
       
          
}
 ul li i {
        color: #616161;
        border: #5c5252 2px solid;
        border-radius: 50%;
        padding: 11px 15px;
        flex: 1;
        margin: 0px 5px;
}

/*Media queries*/
@media  (max-width:2560px) {
    #hobit ul li {
        line-height: 130px;
    }
}
@media  (max-width:1440px) {
    body{ 
        width:inherit;
        display:block;
    }
    #hobit ul li {
        line-height: 135px;
    }
    #right{
        width:60%; 
        padding-right:0px;
    }
    #container{
       
        padding:0;
    }

    .fan {
       
        margin-right:0px;
    }
   
}
@media  (max-width:1024px) {
   
  #container{
      max-width:1000px;
  }
    img {
        width: 72%;
        margin-top: 75px;
    }
    #experience p:first-child {
        font-size: 1.1em;
    }

    article{
        width:400px;
    }

    #experience h2{
        font-size:1.9em;
    }

    .box {
        font-size: 1.3em;
    }

    #about {
        height: 1050px;
    }

    #about P {
            width: 250px;
            font-size: 1.2em;
            padding: 40px 30px 10px 30px;
            word-wrap: break-word;
    }

    .divider {
        max-width: 630px;
    }

    .fan {
        padding-bottom: 15px;
        margin-top: 15px;
        font-size: 0.9em;
    }


    #formation .box i {
        margin-right: 12px;
    }



    #hobit ul li {
        line-height: 120px;
    }
}

/*Tablettes */

@media  (max-width:800px) {

    img {
        width: 60%;
        height: 85%;
        margin-top: 26px;
    }
    #container {
        flex-direction: column-reverse;
        max-width:480px;
        padding: 10px;
    }

    article {
        width: 430px;
        text-align: justify;
    }

    #right {
        width: 100%;
    }

    #right header h1 {
            font-size: 2.5em;
    }
    #right h2 {
            font-size: 1.4em;
            width: 450px;
            margin-top: 25px;
    }

    #right h3 {
            font-size: 1em;
            margin-top: 20px;
    }

    #right h4 {
            font-size: 0.90em;
    }

    #left {
        box-shadow: 5px 5px 5px #424242;
        width: 100%;
    }

    .fanta ul:first-child {
        margin-bottom: 15px;
    }

    .fa-graduation-cap {
        margin-right: 2px;
    }

    .fa-briefcase {
        margin-right: 0;
    }

    .divider {
        width: 450px;
    }

    .box {
        flex-direction: column;
        font-size: 1.2em;
    }

    .fan {
        flex-direction: column;
        margin: 20px 0 50px 0;
        font-size: 1em;
    }

    .fanta {
        flex-direction: column;
        font-size: 1.1em;
    }

    #about p {
        padding-top: 50px;
        width: auto;
    }

    .end {
        padding-left: 27px;
        line-height: 6px;
    }

    #about {
        height: 640px;
    }
}
/*petits ecran*/
@media (max-width:425px) {
    body {
        margin: 0 auto;
    }
    #container{
        
       padding:0;
       margin-right:auto;
       margin-left:auto;  
    }
    #right{
        padding:30px;
    }
    .divider{
       width:420px;
    }
   
}

    


